body{
  margin: 0;
  font-family: Arial, sans-serif;
  background: lightblue;
  text-align: center;
}
header {
  background:#ff6f91;
  color: white;
  padding: 20px;
}
nav {
  background:yellow;
  padding: 20px;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
section {
  padding: 30px;
}
.cake-box{
  margin: 20px auto;
  padding: 15px;
  background: white;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
button {
  padding: 8px 15px;
  background: #ff6f91;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background: #e05575;
}
input, select {
  padding: 8px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
}