body{
background:#f8f9fa;
}

.hero{
background-color: black;
color:white;
padding:60px;
text-align:center;
}

.product-card img{
height:200px;
object-fit:cover;
}
.container{
    text-align: center;
}